+media(any)

  .tab
    display: flex
    justify-content: flex-end
    margin-top: -60px
    &__item
      border: 1px solid colors.bg
      padding: 0 24px
      cursor: pointer
      white-space: nowrap
      margin-left: 16px
      line-height: 60px
      font-weight: 500
      font-size: 12px
      letter-spacing: 0.2px
      text-transform: uppercase
      border-radius: 8px
      height: 56px
      user-select: none
      transition: box-shadow .1s linear, background .2s linear, border .2s linear
      &:first-child
        margin-left: 0
      &:hover
        box-shadow: 0 10px 20px rgba(0,0,0,.1)
      &.active
        background: colors.bgTwo
        border-color: colors.bgTwo


+media(mq.desktop)

  .tab
    justify-content: flex-start
    margin-top: 23px
    &__item
      padding: 0 20px
      font-size: 11px
      line-height: 51px
      height: 48px


+media(mq.phone)

  .tab
    margin-top: 23px
    display: block
    overflow: hidden
    white-space: nowrap
    overflow-y: hidden
    overflow-x: auto
    -webkit-overflow-scrolling: touch
    &__item
      display: inline-block
      font-size: 9px
      line-height: 44px
      height: 40px
      margin-left: 12px
