//Размеры
sizes.vertical-step = 9px  // вертикальный ритм

//Палитра
colors.default = #F1F3F5   // Светло Синий
colors.white   = #fff      // Белый
colors.text    = #000      // Черный
colors.bg      = #D2D6D9
colors.bgTwo   = #E7EBEE

// Путь
paths = "../assets/"

// Шрифтовые стили
fonts.suisse-int = font-stack("Suisse Int", serif)

text.sans-body = {
  font-family: fonts.suisse-int,
  font-size: 16px,
  line-height: 1.3
}

// Merri
webfonts.suisse-int-regular = {
  font-family: "Suisse Int",
  font-file: "suisseIntl/regular.%s",
  font-style: normal,
  font-weight: normal
}

webfonts.suisse-int-book = {
  font-family: "Suisse Int",
  font-file: "suisseIntl/book.%s",
  font-style: normal,
  font-weight: 600
}

webfonts.suisse-int-medium = {
  font-family: "Suisse Int",
  font-file: "suisseIntl/medium.%s",
  font-style: normal,
  font-weight: 500
}
